@{
    ViewData["Title"] = "_MyLayout";
}

<!DOCTYPE html>
    <html>
    <head>
        <title>@ViewData["Title"]</title>
    </head>

    <body>
        <header>
            header
        </header>

        <main>
            @RenderBody()
        </main>

        <footer>
            footer
        </footer>
    </body>
    </html>

